[Desktop Entry]
Type=Application
Name=Viewfinder
Comment=Take photos with the Light L16's camera modules
Exec=l16-camera
Icon=l16-camera
Categories=Graphics;Photography;
X-L16-Camera=true
X-Purism-FormFactor=Workstation;Mobile;
Actions=Locked;

[Desktop Action Locked]
Name=Locked camera
Exec=l16-camera --locked
